.canvas {
    background-color: #eeeeee;
    touch-action: none;
    width: 100vw;
    height: calc(100vh - var(--header-height));

    .rectangle {
      position: absolute;
      stroke-width: 1;
      border-style: solid;
      border-width: 2px;
      height: 100px;
      width: 100px;
    }
}