.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;

    .tool-group {
        position: relative;
        
        input {
            border: 1px solid #102a43;
            background: #e2e2e2;
            width: 40px;
            height: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            cursor: pointer;
            border-radius: 4px;
        }

        :checked {
            border: 2px solid #0057cd!important;
        }

        label {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
}